<h3>Cart:</h3>

<p *ngIf="itemsInCart.length === 0; else cartContents">
  Your cart is empty
</p>

<ng-template #cartContents>
  <p>
    Sort by:
    <select [(ngModel)]="sortBy">
      <option *ngFor="let option of sortOptions" 
        [value]="option">{{ option | titlecase }}</option>
    </select>

    <label>
      <input type="checkbox" [(ngModel)]="sortDesc">
      Descending
    </label>
  </p>

  <ul>
    <li *ngFor="let cartItem of (itemsInCart | orderBy : sortBy : sortDesc)">
      <app-cart-item 
        [cartItem]="cartItem"
        (removeFromCart)="removeFromCart($event)" 
        appHighlight>
      </app-cart-item>
    </li>
  </ul>
  
  <p>
    Total: {{ totalQuantity }} items for {{ totalPrice | currency }}
  </p>
  <button (click)="clearCart()">Clear cart</button>
</ng-template>
